<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bY9BS8QwEIX/y5zD0t0uq+QmKNjLCgrrQTxMm8l2pElKMi1I6X837bqi4G3y8uZ98yZw
	JGhQEPQEDpNQfCQ+twJ6X5Q79a29spEWdFns9gpCZPKCwsGDPswKbIgO5UQxrdJWwXiZ
	K2/DElwP3Jnj4GqKoGF7c3d7KEAB9v3PEuR3alpy+EwjX7RCQd+hLPHZwE8vkGFoPoYk
	Ll+QQL9N/8DJY92RAS1xoJxKIuzPaTmErKXmr3lVjugoI8r7E49s4CpXXsgnls9szWg2
	mcqW1xYPqwOu7avff01wm1yuo03fBgkwv89f
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.camera</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-04-15T17:06:24Z</date>
</dict>
</plist>
